

#header{
font-family: Merriweather;
text-decoration: underline;

}

#button{
font-family: Cinzel;
font-size: 18px;
}

#answer{

font-family: Cinzel;
font-size: 32px;

}
#created{
font-family: Cinzel;

}
#functions{
width: 50%;


}

